<Directory />
  Options None
  AllowOverride None
  Order allow,deny
  Allow from all
</Directory>

#RewriteEngine On
#RewriteCond %{SERVER_PORT} !=443
#RewriteRule ^.* - [F]
#RewriteRule ^(.*)$ https://www.screaming-banshee.net/$1 [L,R]
